[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Usar Jupyter Notebook desde un contenedor de Docke...
Type=Link
URL=https://blog.crespo.org.ve/2016/03/usar-jupyter-notebook-desde-un.html
Icon=text-html
